<p id="notice"><%= notice %></p>

<h2>Welcome, <%= @user.first_name %></h2>
<p>Email: <%= @user.email %></p>
<p>Your City: <%= @user.current_city %></p>
<p>Profile Created: <%= @user.created_at %></p>
<img src="<%= @user.profile_photo %>"/>
<br>
<h3>Locations </h3>
<%@user.posts.each do |title|%>
 	<p>City: <%=title.title%></p>
 	<p>Summary:<%=title.summary%></p>
 <%end%>

<div><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %></div>

