<!DOCTYPE html>
<html>
  <head>
    <title>ProjectVagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div style="display: inline-block"><%= button_to 'Sign Up', new_user_path, method: :get %></div>
	<div style="display: inline-block"><%= button_to 'Log In', log_in_path, method: :get %></div>
	<div style="display: inline-block"><%= button_to 'Logout', logout_path, method: :delete %></div>
    <%= yield %>
  </body>
</html>
